// Custom common variables
@import '../../../app-variables';

.border {
    margin: 15;
}

.headline {
    font-weight: bold;
    text-transform: uppercase;
}

.strong {
    font-weight: bold;
}

.parts-list {
    margin-top: 20;
}

ActionBar {
    background-color: $ab-background;
    color: $ab-color;
}

.btn-minus {
    margin-left: -10;
}

.amount {
    font-weight: bold;
    text-align: center;
}

.title {
    font-size: 21;
}
