<ActionBar title="Service Completion    {{id}}"></ActionBar>

<GridLayout rows="*, auto" columns="*" horizontalAlignment="stretch" verticalAlignment="stretch">
    <ScrollView #ScrollList>
        <GridLayout row="0" col="0" rows="auto, auto, *, auto" columns="*" class="border">
            <GridLayout row="0" col="0" columns="auto,15,*" rows="35,35,35,auto,auto,auto,35" marginBottom="10">
                <Label class="strong" text="Product" row="0" col="0"></Label>
                <Label text="{{product}}" row="0" col="2"></Label>
                <Label class="strong" text="Customer" row="1" col="0"></Label>
                <Label text="{{customer}}" row="1" col="2"></Label>
                <Label class="strong" text="Technician" row="2" col="0"></Label>
                <Label text="{{technician}}" row="2" col="2"></Label>
                <Label class="strong" verticalAlignment="center" text="Date" row="3" col="0"></Label>
                <DatePicker row="3" col="2" (loaded)="onDatePickerLoaded($event)" (dateChange)="onDateChanged($event)" verticalAlignment="center"></DatePicker>
                <Label class="strong" verticalAlignment="center" text="Start Time" row="4" col="0"></Label>
                <TimePicker row="4" col="2" (loaded)="onTimePickerLoaded($event)" (timeChange)="onStartTimeChanged($event)"></TimePicker>
                <Label class="strong" verticalAlignment="center" text="End Time" row="5" col="0"></Label>
                <TimePicker row="5" col="2" (loaded)="onTimePickerLoaded($event)" (timeChange)="onEndTimeChanged($event)" verticalAlignment="center"></TimePicker>
                <Label class="strong" text="Hours spent" row="6" col="0"></Label>
                <Label text="{{ hour }}" row="6" col="2"></Label>
            </GridLayout>
            <DockLayout row="1" col="0" horizontalAlignment="stretch">
                <Label dock="left" verticalAlignment="center" text="Used parts" class="strong title"></Label>
                <Button class="btn btn-primary btn-active far fas" dock="right" (tap)="addPart()" text="&#xf067;" width="60" horizontalAlignment="right"></Button>
            </DockLayout>
            <StackLayout row="2" col="0" class="parts-list">
                <StackLayout orientation="horizontal" *ngFor="let part of manager.usedParts;let i = index">
                    <Label verticalAlignment="center" [text]="part.description" width="60%" (tap)="usedPartClicked(i)"></Label>
                    <Label class="amount" horizontalAlignment="center" verticalAlignment="center" [text]="part.amount" width="20%" (tap)="changeUsedPartAmount(i)"></Label>
                    <Button class="btn-minus btn btn-primary far fas" (tap)="removePart(i)" width="20%" text="&#xf068;" horizontalAlignment="right"></Button>
                </StackLayout>
            </StackLayout>
        </GridLayout>
    </ScrollView>
    <Button class="btn btn-primary" row="1" col="0" text="SIGN" verticalAlignment="bottom" horizontalAlignment="stretch"
        (tap)="signAppointment()"></Button>
</GridLayout>