<ActionBar class="action-bar">
    <Label class="action-bar-title" [text]="title"></Label>
</ActionBar>

<!--
The TabView component provides a simple way to navigate between different views by
tapping on some of the tabs or by swiping between the views.
Learn more about the TabView component in this documentation article:
http://docs.nativescript.org/angular/code-samples/ui/tab-view
-->
<TabView (selectedIndexChanged)="onSelectedIndexChanged($event)">
    <StackLayout *tabItem="{title: 'Customers', iconSource: getIconSource('browse')}">
        <Customers></Customers>
    </StackLayout>
    
    <StackLayout *tabItem="{title: 'Appointments', iconSource: getIconSource('home')}">
        <Appointments></Appointments>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Map', iconSource: getIconSource('search')}">
        <Map></Map>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Notes', iconSource: getIconSource('search')}">
        <Notes></Notes>
    </StackLayout>

    <StackLayout *tabItem="{title: 'Warehouse', iconSource: getIconSource('search')}">
        <Warehouse></Warehouse>
    </StackLayout>
</TabView>