// Custom common variables
@import '../../../app-variables';

.border {
    margin: 15;
}

.headline {
    font-weight: bold;
}

.strong {
    font-weight: bold;
}

ActionBar {
    background-color: $ab-background;
    color: $ab-color;
}
