
.list-group {
  // background-color: blue;
  .list-item {
    padding: 15em;

    .title {
      font-weight: bold;
    }

    .ml-10 {
      margin-left: 10em;
    }

    .ordered {
      color: orange;
    }

    .ready {
      color: green;
    }

    .done {
      color: grey;
    }
  }
}

.visible {
  animation-name: show;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

TextField {
  color: white;
}

.odd {
}

.even {
}

DockLayout Label {
  vertical-align: center;
}
