
.list-group {
  // background-color: blue;
}

.list-item {
  // background-color: red;
  padding: 15em;
}

.list-text {
  margin-left: 10em;
}
//
//
// ListView {
//     opacity: 1;
// }

.visible {
    animation-name: show;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

@keyframes show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

TextField {
    color: white;
}

.odd {
    // background-color: #ddd;
    // background-color: green;
}

.even {
    // background-color: white;
}



DockLayout Label {
    vertical-align: center;
}
