<GridLayout class="page page-content" width="100%">
	<ListView [items]="visibleNotes" (itemTap)="onItemTap($event)" width="100%">
		<ng-template let-item="item" let-width="notes.length" width="100%">
			<StackLayout orientation="vertical" width="100%" class="noteStackLayout">
				<StackLayout orientation="horizontal" width="100%">
					<Label [text]="'ID:'" width="35%"></Label>
					<Label [text]="item.id" textWrap="false" width="65%"></Label>
				</StackLayout>
				<StackLayout orientation="horizontal" width="100%">
					<Label [text]="'Status:'" width="35%"></Label>
					<Label [text]="item.status" textWrap="false" width="65%"></Label>
				</StackLayout>
				<StackLayout orientation="horizontal" width="100%">
					<Label [text]="'Assigned by:'" width="35%"></Label>
					<Label [text]="item.assignedBy" textWrap="false" width="65%"></Label>
				</StackLayout>
				<StackLayout orientation="horizontal" width="100%">
					<Label [text]="'Message:'" width="35%"></Label>
					<Label [text]="item.text" [textWrap]="item.wrapText" width="65%"></Label>
				</StackLayout>
				<Label *ngIf="item.status === 'ToDo'" id="{{item.id}}" class="btn btn-primary btn-active close-button" text="Close TODO" (tap)="onTap($event)" ></Label>
			</StackLayout>
		</ng-template>
	</ListView>
    <StackLayout horizontalAlignment="center" verticalAlignment="center">
        <Button text="Create new Note/TODO" (tap)="showModal()" class="btn btn-primary"></Button>
    </StackLayout>
</GridLayout>
