<StackLayout #container>
    <Image src="res://logo_login" stretch="none" horizontalAlignment="center"></Image>

    <TextField #email hint="Email-Adresse" keyboardType="email" autocorrect="false" autocapitalizationType="none" [(ngModel)]='user.email'></TextField>
    <TextField #password hint="Passwort" secure="true" [(ngModel)]='user.password'></TextField>

    <CheckBox #remember text="Remember me" checked="false"></CheckBox>

    <Button text="Login" class="submit-button" (tap)="submit()"></Button>
</StackLayout>